<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
		<connectionStrings>
			<add name="DLADataBase" connectionString="server=cynosdbmysql8-grp-1685338182.xmjar.cn;user id=n1685338182;password=p_ed26114cc4
;database=afb313c69751" providerName="MySql.Data.MySqlClient" />
		</connectionStrings>
	</configuration>